html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
*{
    box-sizing: border-box;
}

.container{
    width: 960px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body{
    background: url('../images/diagonal-squares.png');
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #777777;
    overflow: auto;
}

header{
    background-color: #ffffff;
    margin-bottom: 20px;
    border-bottom: 5px solid #cccccc;
}

nav{
    float: right;
    text-align: center;
    margin-top: 15px;
}

li{
    display: inline;
}

nav a{
    color: grey;
    font-size: 15px;
    padding: 5px 10px;
    border-right: 1px solid lightgrey;
}

nav li:last-child a{
    border-right: none;
}

h1,h2,h3,h4,h5,h6{
    font-family: Arial, Helvetica, sans-serif;
    color: #4aaaa5;
    font-weight: bold;
}

header h1{
    display: inline-block;
    color: white;
    background-color: #4aaaa5;
    padding: 20px;
    font-size: 25px
}

h2{
    font-size: 23px;
    margin-bottom: 20px;
    padding: 15px 0;
    border-bottom: 2px solid #ccc;
}

section{
    background: white;
    padding: 15px;
    border: 2px solid #dddddd;
    margin-bottom: 100px;
}

p{
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px;
}

img{
    float:left;
    overflow: auto;
    margin: 15px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 5px solid #4aaaa5;
    background-color:#666666;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

input, textarea{
    margin: 5px 0 15px 0;
    border: 2px solid #ccc;
    padding: 10px;
    font-size: 15px;
    width: 100%;
}

textarea{
    height: 200px;
}

button{
    color: white;
    background-color: #4aaaa5;
    border: none;
    font-size: 15px;
    padding: 6px 18px;
}

h3{
    color: white;
    background-color: #4aaaa5;
    padding: 20px 5px;
    position: absolute;
    bottom: 15px;
    width:100%;
    text-align: center;
}

.placeholder{
    position: relative;
    float: left;
    width:45%;
    height:200px;
    margin-bottom: 15px;
}

.placeholder:nth-of-type(even){
    float:right;
}

#image1{
    background: url('../images/image1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#image2{
    background: url('../images/image2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#image3{
    background: url('../images/image3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#image4{
    background: url('../images/image4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#image5{
    background: url('../images/image5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .nav {
      width:100%;
    }
    .nav-item {
      width:100%;
      float:none;
    }
  }

